[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "APRScenario"]
	path = APRScenario
	url = https://github.com/giannilmbd/aprscenario
